.todo {
	height:50px;
	.todo-input-wrapper {
		padding: 10px;
		float: left;
		&.editable {
			outline: 1px solid red;
			background-color: #dde67c;
			input {
				background-color: #dde67c;
			}
		}
	}
	.todo-actions-wrapper {
		padding: 10px;
		float: left;
		input {
		 	margin-left:10px;
		 }
	}
	.todo-input {
		
			border: none;
			outline: none;
		
	}
}